.catalogWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.catalogList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMoreBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--main);

  display: block;
  cursor: pointer;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 0;
  width: 145px;
  height: 56px;
  background-color: var(--white);
  transition: border var(--transition);

  &:hover {
    border: 1px solid var(--button-hover);
  }
}
